/* NAVIGATION STUFF GOES HERE  */

#one {
    height: 100vh;
}

#two {
    height: 110vh;
}

#three {
    height: 130vh;
}

#four {
    height: 150vh;
}

#five {
    height: 220vh;
}

#six {
    height: 100vh;

}


nav {
    ul {
        a {
            img {
                filter: invert(1);
            }
            span {
                display: none;
            }
        }
    }
}

